<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple HTTP Form</title>
</head>
<body>
    {{ if . }}
    <main>
        <h2>Request Details</h2>
        <p><strong>Method:</strong> {{.Method}}</p>
        <p><strong>URL:</strong> {{.URL}}</p>
        <p><strong>Proto:</strong> {{.Proto}}</p>
        <p><strong>Header:</strong></p>
        <ul>
            {{ range $k, $v := .Header }}
                <li><strong>{{ $k }}:</strong> {{ range $v }}{{ . }} {{ end }}</li>
            {{ end }}
        </ul>
        <p><strong>Form:</strong></p>
        <ul>
            {{ range $k, $v := .Form }}
                <li><strong>{{ $k }}:</strong> {{ range $v }}{{ . }} {{ end }}</li>
            {{ end }}
        </ul>
    </main>
    {{ end }}
    <h1>Simple HTTP Form</h1>
    <form action="/" method="post">
        <label for="firstName">First Name:</label><br>
        <input type="text" id="firstName" name="firstName" required><br><br>
        <label for="lastName">Last Name:</label><br>
        <input type="text" id="lastName" name="lastName" required><br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>